body{
    height: 50vh;
    background: url('../img/ocean.webp') 55% / cover;
    background-color:rgb(58, 58, 238);
    
}
.container {
    width: 100%;
    margin: auto;
    text-align: center;
}
#menu{
    text-align: center;
    margin: 30px;
}

#menu li{
    display: inline;
    font-size: 1.1em;
    text-shadow: 1px 3px  black;
    margin: 20px;
    color: #fff;
}
#menu li a:hover{
    color: #fff;
    background:#00FFFF;
}
#menu i{
    margin: 5px;
}


main h2{
    text-align: center;
    text-shadow: 1px 3px  black;
    font:bold 1.5em Arial sans-serif;
    color: #fff;
    margin: 20px;
}

form{
    display: inline-block;
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 60px 20px;
    padding: 25px;
    border-radius: 25px;
}

input {
    width: 100%;
    padding: 10px 14px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    box-shadow: 0 0 10px #ccc;

}

button{
    width: 100%;
    padding:10px;
    background:#06d;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    margin: 10px auto;
}
button:hover{
    background-color: rgb(0, 61, 131);
    border-radius:20px ;
}



div{
   text-align: center;
}

i{
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
}
.bgGoogle{
    color: red;
}
.bgFB{
    color: #06d;
}
.bgX{
    color: black;
}
bgGit{
    color: purple;
}
.wallpapers{
    width: 400px;
    display: inline-block;
}
.card{
    width: 300px;
    height: 90px;
    margin: 15px;
    border-radius: 10px;
    background-color: #292828af;
    text-align: center;
  }
  .card a:hover{
    background-color: rgb(226, 244, 26);
  }
 .card img{
    width: 70px;
    height: 90px;
    border-radius: 10px;
    float: left;
 }
 .bgPhoto{
    background: url('../img/photo.webp') 55% / cover;
 }
 .bgOrder{
    background: url('../img/order.webp') 55% / cover;
 }
 .card h4{
    text-align: center;
    padding: 40px;
    color: #fcfcfc;
    font-style: italic;
 }
 .card i{
    font-size: 10px;
    margin: 5px;
 }

footer{
    text-align: center;
    margin-top: 50px;
}
footer p{
    text-shadow: 1px 3px  black;
    color: #fff;
}
@media only screen and (min-width: 768px){
    
}