body{
    width: 100%;
    background: url('../img/ocean.webp') 55% / cover no-repeat;
    background-color:rgb(58, 58, 238);
    
}
.container {
    width: 100%;
    margin: auto;
}
#menu{
    text-align: center;
    margin: 30px;
}

#menu li{
    display: inline;
    font-size: 1.1em;
    text-shadow: 1px 3px  black;
    margin: 20px;
    color: #fff;
}
#menu li a:hover{
    color: #fff;
    background:#00FFFF;
}
#menu i{
    margin: 5px;
}

main h1{
    text-align: center;
    text-shadow: 1px 3px  black;
    font:bold 4.5em Arial sans-serif;
    color: #fff;
    margin-top: 150px;

}
main h5{
    text-align: center;
    text-shadow: 1px 3px  black;
    font:bold 1.5em Arial sans-serif;
    color: #fff;
    margin: 50px;
}
footer{
    text-align: center;
    margin-top: 320px;
}
footer p{
    text-shadow: 1px 3px  black;
    color: #fff;
}
@media only screen and (min-width: 768px){
   
}